#!/usr/bin/make -f

MANTEMPLATE="${CURDIR}/doc/output/man/pgbackrest.1.txt"
MANDATE=$(shell date -d "$(dpkg-parsechangelog -S Date)" --rfc-3339=date)

#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	perl $(CURDIR)/doc/doc.pl --out=man --out=html --cache-only \
	  --var=project-url-root=index.html --exclude=backlog
	txt2man \
	  -v "pgBackRest Command Reference" \
	  -t pgbackrest \
	  -s 1 \
	  -d "${MANDATE}" \
	  ${MANTEMPLATE} > ${CURDIR}/doc/output/man/pgbackrest.1
	dh_auto_build
